{{!-- Navbar postlogin --}}
<nav>
    <div class="nav-wrapper">
        <div class="row center-align">
            <div id="arenaBtn" class="col s3 navHov">
                <a>Arena</a>
            </div>
            <div id="builderBtn" class="col s3 navHov">
                <a>Builder</a>
            </div>
            <div id="homeBtn" class="col s3 navHov">
                <a>Home</a>
            </div>
            <div id="logOutBtn" class="col s3 navHov">
                <a>Logout</a>
            </div>
        </div>
    </div>
</nav>

<div id="introArena" class="container">
    <div class="row">
        <div class="col s12 m12 l12 valign-wrapper center-align">
            <div>
                <h1>Welcome to the Arena, click play to get started</h1>
                <br>
                <span id="introMessage"></span>
                <br>
                <button id="play" class="waves-effect waves-light btn-large">Play</button>
            </div>
        </div>
    </div>
</div>

<div id="gameArena" class="row noMarg">
    <div id="rulesBox" class="col s3 m3 l3">
        Rules:
        <br>
    </div>
    <div id="gamebox" class="col s9 m9 l9">

        <div class="row noMarg">
            <div class="col s2 m2 l2">
                <div class="row">
                    <div id="compDeck" class="col s6 m6 l6 deckBox"></div>
                    <div id="compDeckNum" class="col s6 m6 l6 deckBox"></div>
                </div>
                <div class="row">
                    <div id="compDiscard" class="col s6 m6 l6 deckBox"></div>
                    <div id="compDiscardNum" class="col s6 m6 l6 deckBox"></div>
                </div>
            </div>
            <div class="col s8 m8 l8">
                <div class="row noMarg">
                    <div id="computercard0" class="col s4 m4 l4 center-align valign-wrapper"></div>
                    <div id="computercard1" class="col s4 m4 l4 center-align valign-wrapper"></div>
                    <div id="computercard2" class="col s4 m4 l4 center-align valign-wrapper"></div>
                </div>
            </div>
            <div class="col s2 m2 l2 avatarBox"></div>
        </div>

        <div class="row noMarg">
            <div class="col s2 m2 l2"></div>
            <div class="col s8 m8 l8">
                <div class="row noMarg">
                    <div id="battleBoxPlayer" class="col s4 m4 l4 center-align valign-wrapper"></div>
                    <div id="centerBox" class="col s4 m4 l4 center-align valign-wrapper">
                        <p id="resultMessage"> Pick a card to start the battle!!</p>
                        <a id="roundUp" class="waves-effect waves-light btn">Next Round</a>
                        <!-- Modal Trigger -->
                        <a id="modalButton" class="waves-effect waves-light btn modal-trigger" href="#modal1">Results</a>
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal">
                            <div class="modal-content">
                                <span id="endMessage"></span>
                            </div>
                            <div class="modal-footer">
                                <a href="/arena" id="startOver" class="modal-action modal-close waves-effect waves-green btn-flat">Start Over</a>
                            </div>
                        </div>
                    </div>
                    <div id="battleBoxComp" class="col s4 m4 l4 center-align valign-wrapper">
                        
                    </div>
                </div>
            </div>
            <div class="col s2 m2 l2"></div>
        </div>

        <div class="row noMarg">
            <div class="col s2 m2 l2 avatarBox"></div>
            <div class="col s8 m8 l8">
                <div class="row noMarg">
                    <div id="playercard0" data=0 class="col s4 m4 l4 playercard center-align valign-wrapper"></div>
                    <div id="playercard1" data=1 class="col s4 m4 l4 playercard center-align valign-wrapper"></div>
                    <div id="playercard2" data=2 class="col s4 m4 l4 playercard center-align valign-wrapper"></div>
                </div>
            </div>
            <div class="col s2 m2 l2">
                <div class="row">
                    <div id="playerDeck" class="col s6 m6 l6 deckBox"></div>
                    <div id="playerDeckNum" class="col s6 m6 l6 deckBox"></div>
                </div>
                <div class="row">
                    <div id="playerDiscard" class="col s6 m6 l6 deckBox"></div>
                    <div id="playerDiscardNum" class="col s6 m6 l6 deckBox"></div>
                </div>
            </div>
        </div>
    </div>
</div>