<button id="arena">Set Cards</button>
<button id="setup">Setup Players</button>
<button id="battle">Battle</button>
<div class="container">
    <div id="cards" class="text-center">
        <div class="row">
            Computer Cards
            <div class="col-md-3"></div>
            <div id="computercard0" class="col-md-2"></div>
            <div id="computercard1" class="col-md-2"></div>
            <div id="computercard2" class="col-md-2"></div>
        </div>
        <div class="row">
            Player Cards
            <div class="col-md-3"></div>
            <div id="playercard0" data=0 class="col-md-2 playercard"></div>
            <div id="playercard1" data=1 class="col-md-2 playercard"></div>
            <div id="playercard2" data=2 class="col-md-2 playercard"></div>
        </div> 
    </div>
</div>