{{!-- WELCOME PAGE --}}

{{!-- Pearce's original "builder" button --}} {{!-- <a href="/deckbuilder"><button id="start">Go to Deckbuilder</button></a>--}}

<!-- Buttons in nav bars -->
<nav>
    <div class="nav-wrapper">
        <div class="row center-align">
            <div class="col s3 navHov">
                <a href="/arena">ARENA</a>
            </div>
            <div class="col s3 navHov">
                <a href="/deckbuilder">BUILDER</a>
            </div>
            <div class="col s3 navHov">
                <a href="/">HOME</a>
            </div>
            <div class="col s3 navHov">
                <a href="/">LOGOUT</a>
            </div>
        </div>
    </div>
</nav>

<h5>Sign up below to play Domain Wars</h5>

{{!-- DIV #1: SIGN-UP --}}
<div class="container">
    <div class="card-panel white">
        <span class="white-text">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate">
                            <label class="active" for="name">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label class="active" for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label class="active" for="password">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12"></div>
                        <div class="center-btn">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                            <a href=#>LOGIN HERE</a>
                        </div>
                    </div>
                </form>
            </div>
        </span>
    </div>
</div>

{{!-- DIV #2: LOGIN--}}
<div class="container">
    <div class="card-panel white">
        <span class="white-text">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate">
                            <label class="active" for="name">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label class="active" for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label class="active" for="password">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12"></div>
                        <div class="center-btn">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </span>
    </div>
</div>
