{{!-- WELCOME PAGE --}}

{{!-- <<<<<<< PEARCE START --}}
<a href="/deckbuilder"><button id="start">Go to Deckbuilder</button></a>

{{!-- DIV #1 --}}
<div id="signIn" class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="signInEmail" type="email" class="validate">
                <label for="signInEmail">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="signInPass" type="password" class="validate">
                <label for="signInPass">Password</label>
            </div>
        </div>
        <div class="row">
            <a id="signInBtn" class="waves-effect waves-light btn">Sign In</a>
            <a id="switchToSignUp">Sign Up?</a>
            <span class="errMsg"></span>
        </div>
    </form>
</div>


{{!-- DIV #2 --}}
<div id="signUp" class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="signUpEmail" type="email" class="validate">
                <label for="signUpEmail">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="signUpName" type="text" class="validate">
                <label for="signUpName">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="signUpPass" type="password" class="validate">
                <label for="signUpPass">Password</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="passwordConfirm" type="password" class="validate">
                <label for="passwordConfirm">Confirm Password</label>
            </div>
        </div>
        <div class="row">
            <a id="signUpBtn" class="waves-effect waves-light btn">Sign Up</a>
            <a id="switchToSignIn">Sign In?</a>
            <span class="errMsg"></span>
        </div>
        <a id="logOutBtn" class="waves-effect waves-light btn">Log Out</a>
    </form>
</div>
{{!-- ======= PEARCE END // DEV START --}}
{{!-- Pearce's original "builder" button --}} {{!-- <a href="/deckbuilder"><button id="start">Go to Deckbuilder</button></a>--}}

<!-- Buttons in nav bars -->
<nav>
    <div class="nav-wrapper">
        <div class="row center-align">
            <div class="col s3 navHov">
                <a href="/arena">ARENA</a>
            </div>
            <div class="col s3 navHov">
                <a href="/deckbuilder">BUILDER</a>
            </div>
            <div class="col s3 navHov">
                <a href="/">HOME</a>
            </div>
            <div class="col s3 navHov">
                <a href="/">LOGOUT</a>
            </div>
        </div>
    </div>
</nav>

<h5>Sign up below to play Domain Wars</h5>

{{!-- DIV #1: SIGN-UP --}}
<div class="container">
    <div class="card-panel white">
        <span class="white-text">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate">
                            <label class="active" for="name">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label class="active" for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label class="active" for="password">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12"></div>
                        <div class="center-btn">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                            <a href=#>LOGIN HERE</a>
                        </div>
                    </div>
                </form>
            </div>
        </span>
    </div>
</div>

{{!-- DIV #2: LOGIN--}}
<div class="container">
    <div class="card-panel white">
        <span class="white-text">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="name" type="text" class="validate">
                            <label class="active" for="name">User Name</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label class="active" for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label class="active" for="password">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12"></div>
                        <div class="center-btn">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </span>
    </div>
</div>
{{!-- >>>>>>> dev end --}}
