{{!-- WELCOME PAGE --}}


<!-- Buttons in nav bars -->
<nav>
    <div class="nav-wrapper">
        <div class="row center-align">
            <div class="col s3 navHov">
                <a href="/arena">ARENA</a>
            </div>
            <div id="start" class="col s3 navHov">
                <a href="/deckbuilder">BUILDER</a>
            </div>
            <div class="col s3 navHov">
                <a href="/profile">PROFILE</a>
            </div>
            <div class="col s3 navHov">
                <a href="/">LOGOUT</a>
            </div>
        </div>
    </div>
</nav>

<h5>This is the homepage</h5>

{{!-- DIV #1 --}}
<div class="container" id="signIn">
    <div class="card-panel white">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signInEmail" type="email" class="validate">
                        <label class="active" for="signInEmail">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signInPass" type="password" class="validate">
                        <label class="active" for="signInPass">Password</label>
                    </div>
                </div>
                <div class="row">
                    <a id="signInBtn" class="waves-effect waves-light btn">Sign In</a>
                    <a id="switchToSignUp">Sign Up?</a>
                    <span class="errMsg"></span>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- DIV #2 --}}
<div class="container" id="signUp">
    <div class="card-panel white">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signUpEmail" type="email" class="validate">
                        <label class="active" for="signUpEmail">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signUpName" type="text" class="validate">
                        <label class="active" for="signUpName">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="signUpPass" type="password" class="validate">
                        <label class="active" for="signUpPass">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="passwordConfirm" type="password" class="validate">
                        <label class="active" for="passwordConfirm">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <a id="signUpBtn" class="waves-effect waves-light btn">Sign Up</a>
                    <a id="switchToSignIn">Sign In?</a>
                    <span class="errMsg"></span>
                </div>
                <div class="row">
                    <a id="logOutBtn" class="waves-effect waves-light btn">Log Out</a>
                </div>
            </form>
        </div>
    </div>
</div>

{{!-- JASMINE'S CODE BELOW --}} {{!-- DIV #1: SIGN-IN --}}
{{!-- <div class="container">
    <div class="card-panel white">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate">
                        <label class="active" for="name">User Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label class="active" for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label class="active" for="password">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12"></div>
                    <div class="center-btn">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                        <a href=#>LOGIN HERE</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> --}}

{{!-- DIV #2: LOGIN--}} {{!--
<div class="container">
    <div class="card-panel white">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" type="text" class="validate">
                        <label class="active" for="name">User Name</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label class="active" for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" type="password" class="validate">
                        <label class="active" for="password">Confirm Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12"></div>
                    <div class="center-btn">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                                <i class="material-icons right">send</i>
                            </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> --}}