{{!-- PROFILE PAGE, postlogin --}} {{!-- Navbar postlogin --}}
<nav>
    <div class="nav-wrapper">
        <div class="row center-align">
            <div id="arenaBtn" class="col s3 navHov">
                <a>Arena</a>
            </div>
            <div id="builderBtn" class="col s3 navHov">
                <a>Builder</a>
            </div>
            <div id="homeBtn" class="col s3 navHov">
                <a>Home</a>
            </div>
            <div id="logOutBtn" class="col s3 navHov">
                <a>Logout</a>
            </div>
        </div>
    </div>
</nav>

{{!-- DIV #1 PROFILE--}}
<div class="container">

    <div class="card-panel profile">

        <div class="row">
            <div class="col s4 m4 l4">
                <div class="row">
                    <div class="col s12">
                        <img id="profile-avatar" src="assets/images/avatar-placeholder.png">
                    </div>
                </div>
            
                <div class="row">
                    <div id="profileName" class="col s12">
                    </div>
                </div>

                <div class="row">
                    <div id="profileWins" class="col s12">
                    </div>
                </div>

                <div class="row">
                    <div id="profileLosses" class="col s12">
                    </div>
                </div>
            </div>
            <div class="col s7 m7 l7">
                <div id="deckcontainer">
                    <div class="center-align" id="deckMessage"></div>
                    <div class="row">
                        <div class="col s2 m2 l2"></div>
                        <div id="deckCard0" class="col s2 m2 l2"></div>
                        <div id="deckCard1" class="col s2 m2 l2"></div>
                        <div id="deckCard2" class="col s2 m2 l2"></div>
                        <div id="deckCard3" class="col s2 m2 l2"></div>
                        <div id="deckCard4" class="col s2 m2 l2"></div>
                        
                        <div class="col s2 m2 l2"></div>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2"></div>
                        <div id="deckCard5" class="col s2 m2 l2"></div>
                        <div id="deckCard6" class="col s2 m2 l2"></div>
                        <div id="deckCard7" class="col s2 m2 l2"></div>
                        <div id="deckCard8" class="col s2 m2 l2"></div>
                        <div id="deckCard9" class="col s2 m2 l2"></div>
                        <div class="col s2 m2 l2"></div>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2"></div>
                        <div id="deckCard10" class="col s2 m2 l2"></div>
                        <div id="deckCard11" class="col s2 m2 l2"></div>
                        <div id="deckCard12" class="col s2 m2 l2"></div>
                        <div id="deckCard13" class="col s2 m2 l2"></div>
                        <div id="deckCard14" class="col s2 m2 l2"></div>
                        <div class="col s2 m2 l2"></div>
                    </div>
                    <div class="row">
                        <div class="col s2 m2 l2"></div>
                        <div id="deckCard15" class="col s2 m2 l2"></div>
                        <div id="deckCard16" class="col s2 m2 l2"></div>
                        <div id="deckCard17" class="col s2 m2 l2"></div>
                        <div id="deckCard18" class="col s2 m2 l2"></div>
                        <div id="deckCard19" class="col s2 m2 l2"></div>
                        <div class="col s2 m2 l2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{{!-- DIV #2 RULES --}}
<div class="container">
    <div class="card-panel">
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col s6">
                        <img id="infographic" src="assets/images/infographic.png">
                    </div>
                    <div class="col s6">
                        <h2>How to Play</h1>
                        <p>In order to play the game, you first need a deck of 20 cards. If you don't have
                            one, head to the deckbuilder to create one. Once your deck is done, click on
                            the arena to battle.</p><p> You and your opponent will each start with a hand 
                            of 3 cards from your deck. Click on one of your cards to play it, your opponent
                            will do the same. Use the table to the left to determine which card will be
                            victorious. The winner's card will go to their discard pile, the loser's will
                            be destroyed. In the case of a draw, both cards are destroyed. </p><p> Click 
                            the "Next Round" button and both players will draw another card from their 
                            deck. If your deck is empty, your discard pile will be shuffled back in. The 
                            game continues until a player is out of cards, rendering them the loser.</p> 
                            <p>Happy Playing!</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>