/* kole */
#playercard0,
#playercard1,
#playercard2,
#computercard0,
#computercard1,
#computercard2 {
    /* width:150px;
    height:210px; */
    background-color:red;
    /* padding:5px; */
    border: solid 1px white;
    min-height:186px;
}

#rulesBox {
    background-color: green;
    height:100vh;
}

.nav-wrapper {
    background-color:black;
    color:white;
    margin-bottom: 4px;
}

.navHov:hover {
    background-color: lightgray;
    color: black;
}

#avatarImg {
   width:100%;
}

.avatarBox {
   position:relative;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    height:100%;
    /* NEED FOR KOLE ARENA */
    /* overflow: hidden; */
    background-image: url("../images/darkgrey.jpg");    
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center; 
}

.noMarg {
    margin:0;
    padding:0;
}

#battleBoxPlayer,
#battleBoxComp {
    height:186px;
}

.avatarButton {
    width:48px;
    text-align: center;
    padding:2px;
    font-size:12px;
    margin:5px;

}
.deckBox {
    background-color: rgba(255, 255, 0, 0.35);
    border:solid 1px white;
    height:93px;
}

/* JASMINE */
.card-panel {
    background-color: rgba(255, 255, 255, 0.85);
}

#signIn,
#signUp {
    width: 400px;
    margin: 0 auto;
}

input#name.validate,
input#password.validate {
    color: #000;
}

div.container {
    display: block;
    margin: 0 auto;
}

/* Div containing the submit button and login link */
.center-btn {
    text-align: center;
}

.btn waves-effect waves-light {
    margin-right: 10px;
}

a {
    margin-left: 10px;
}

nav .nav-wrapper {
    background-color:black;
    color:white;
}

div.container {
    margin-top: 50px;
}

.deckCard {
    width: 100%;
}

@media screen and (max-width: 695px) {
    nav .brand-logo.center {
        font-size: 25px;
    }
}

@media screen and (max-width: 595px) {
    nav .brand-logo.center {
        font-size: 20px;
    }
}

@media screen and (max-width: 468px) {
    nav .brand-logo.center {
        font-size: 16px;
    }
}

/* Teddy: Profile */

#profile-avatar {
    display: inline-block;
    width: 100%;
}

/* DECKBUILDER STYLING */
#deckbuilder .collapsible-body {
    background-color: black;
    color: white;
}

#deckbuilder #deckChoice {
    width: 50px;
}