#playercard0,
#playercard1,
#playercard2,
#computercard0,
#computercard1,
#computercard2 {
    /* width:150px;
    height:210px; */
    background-color:red;
    /* padding:5px; */
    border: solid 1px white;
    min-height:210px;
}

#rulesBox {
    background-color: green;
    height:100vh;
}

nav {
    background-color:black;
    color:white;
}

.navHov:hover {
    background-color: lightgray;
    color: black;
}

#avatarImg {
   width:100%;
}

.avatarBox {
   position:relative;
}

.clearfix::after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

body {
    height:100%;
    overflow: hidden;
}

.row {
    margin:0;
}

.deckBox {
    background-color: rgba(255, 255, 0, 0.35);
    border:solid 1px white;
}

